<script src="http://stats.nba.com/js/data/sportvu/drivesData.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<h1> NBA Drives </h1>
<p>Select player:</p>
<p><select id ="player_dropdown"></select></p>

<div id="points_container"></div>



