<script src="http://stats.nba.com/js/data/sportvu/drivesData.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<h1> NBA Drives </h1>

<div id="container" style="width:100%; height:400px;"></div>

<div id ="player_dropdown"></div>