<script src="http://stats.nba.com/js/data/sportvu/drivesData.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<h1> NBA Drives </h1>
<p class="center">Select player:</p>
<p class = "center"><select id ="player_dropdown"></select></p>
<div id="player_info">
  <div id="points_container"></div>
  <div id ="additional_stats">
    <p id="player_name"></p>
    <p id="team_name"></p>
    <p id="drives_per_game"></p>
    <p id="fg_pct_drives"></p>
    <p id="total_points_from_drives"></p>
    <p id="total_drives"></p>
  </div>
</div>

