  #player_info {
    color: white;
}

 #points_container {
  width:40%;
  height:20%;
  display:inline-block;
 }

#additional_stats {
  position: relative;
  display: inline-block;
  bottom: 12em;
  left: 4em;

}

p {
  color: white;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.center {
  text-align: center;
}

h2 {
  text-align: center
}

#player_name {
  font-weight: bold;
  font-size: 1.5em;
}

#player_image {
  display:inline-block;
  position: relative;
  bottom: 12em;
  left: 8em;
  border: 2px solid white;
}

#disclaimer {
  font-size: .9em
}

body {
  background-image: url("Basketball-Court_Landscape.jpg");
}
